html {
    scrollbar-width: thin;
    scroll-behavior: smooth;
    max-height: fit-content;
    max-width: 100%;
}




body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-image: url("img.jpg.webp");
    background-size: cover;
    background-position: auto;
    background-repeat: no-repeat;
    margin-top: -20rem;
}

header {
    margin-bottom: 0;
    padding-bottom: 0;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: top 0.5s;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.container-fluid {
    background-image: url("img.jpg.webp");
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5rem;
    margin-right: 0;
    box-shadow: 0 3px 7px rgba(1, 2, 1, 0.5);
    opacity: 90%;
    width: 100%;
    transition: top 0.3s;
    cursor: pointer;
}

.Container-fluid .transition {
    transition: background-color 0.5s ease;
}

ul li a {
    display: block;
    color: #EDEDCE;
    text-align: center;
    padding: 5px 5px;
}

ul li a:hover {
    border-start-end-radius: 5px;
    border-style: hidden;
    border-color: #EDEDCE;
    background-image: url("img.jpg.webp");
    color: #EDEDCE;
}

.nav-links {
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
    display: flex;
    margin-right: 20px;
    font-size: 18px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: #84847c;
    text-decoration: none;
    padding: 8px 12px;
    transition: color 0.5s ease;
}


/* 
#header {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 999;
}

#header.scrolled {
    background: #161414;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} */


/* .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    margin-top: 3rem;

} */



/* .navbar {
    background-color: #09637E;
    padding: 3rem 4rem;
    box-shadow: 0 4px 2px rgba(0, 0, 1, 0.6);
    margin-bottom: 3rem;
    margin-top: -1rem;
} */

/* .navbar h1 {

    display: flex;
    margin: -2rem -1rem;
    justify-content: flex-start;
    font-size: 3rem;
    list-style: none;
    margin-bottom: -1rem;

}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    margin-bottom: -3rem;
    padding: 0;
    font-size: 1.2rem;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    font-weight: bold;
} */

.hero {
    display: flex;
    margin-top: 5.5rem;
    padding: 25rem 8rem;


}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: -20rem;
    margin-left: 10rem;
    max-width: 50%;

}

.hero-text h1 {
    font-size: 2rem;
    color: #296374;

}

.hero-text h2 {
    font-size: 2.5rem;
    margin: 0.5rem 0;
}

.hero-text h3 {
    font-size: 1.5rem;
    color: #555;
}

.hero-text p {
    margin: 1rem 0;
    line-height: 1.6;
}

.buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.btn {
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.primary {
    background-color: #296374;
    color: white;
}

.secondary {
    background-color: #fff;
    color: #296374;
    border: 2px solid #296374;
}

.image img {
    margin-left: 9rem;
    margin-right: 5rem;
    margin-top: 1rem;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.9);
    margin-bottom: 18rem;

}

.about {
    display: flex;
    padding: 10rem 10rem;
    color: #333;
    margin-top: -45rem;
    margin-bottom: -5rem;
}

.about-content {
    flex: 1 1 100%;
    max-width: 600px;
}

.about-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #296374;
    margin-top: 3rem;
}

.about-content p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.about-metrics {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
}

.metric-box {
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-left: 2rem;
}

.metric-box h3 {
    margin-bottom: 0.5rem;
    color: #296374;
}

.metric-box p {
    font-size: 1.1rem;
    font-weight: 500;
}

.skills {
    display: center;
    padding: 10rem 10rem;
    color: #333;
    margin-top: -19.9rem;
    margin-bottom: 5rem;
}

.skills h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #296374;
    margin-top: 9rem;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.skill-card {
    background-color: #EBF4F6;
    padding: 1rem;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.skill-card h3 {
    margin-bottom: 0.5rem;
    color: #296374;
}

.skill-card p {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.skill-card ul {
    list-style: none;
    padding: 0;
}

.skill-card ul li {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.projects {
    display: center;
    padding: 10rem 10rem;
    gap: 1.5rem;
    color: #333;
    margin-top: -28rem;
    margin-bottom: -10rem;
}

.projects h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #296374;
    margin-top: 8rem;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.project-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: -1rem;
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.project-card h3 {
    margin-bottom: 0.5rem;
    color: #296374;
}

.project-card p {
    font-size: 0.95rem;
    margin-bottom: 0.75rem;
}

.tech-tags {
    display: inline-block;
    font-size: 0.85rem;
    color: #555;
    background-color: #EBF4F6;
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
}

.contact {
    padding: 2rem 6rem;

    text-align: center;
    color: #333;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #296374;
    margin-top: 7rem;
}

.contact-intro {
    font-size: 1.1rem;
    margin-bottom: 4rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.contact-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.contact-box {
    background-color: #EBF4F6;
    padding: 1.5rem;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.contact-box i {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    display: block;
    color: #296374;
}

.contact-box h3 {
    margin-bottom: 0.5rem;
}

.contact-box p a {
    color: #296374;
    text-decoration: none;
}

footer {
    padding: 1rem 1rem;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #777;
    margin-top: 1rem;
}